*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #0a0a0f;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#headerContainer{
  display: none;
}

h1{
  margin: 0px;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
}

#canvas {
  background-color: #0a0a0f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lil-gui.autoPlace{
  top: 10px;
  right: 10px;
}

#backButton {
    margin: 10px;
}
